#recipe-card:hover {
    background-color: linen;
    opacity: 1.0;
}

#recipe-card {
    background-color: lightyellow;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .5rem;
    opacity: .5;
    border-radius: 3%
};

#recipe-image {
    border-radius: 3%;
}
