#dish-image-box {
    background-color: paleturquoise;
    padding: 1rem;
}

#dish-image {
    border-radius: 5%;
}

#dish-title-box {
    background-color: pink;
}

#ingredient-list-box {
    background-color: pink;
    padding: 1rem;
}

#directions-box {
    background-color: paleturquoise;
    padding: 1rem;
}

#dish-title {
    font-size: 6.5rem;
    font-family: 'Pacifico', cursive;
}

#ingredient-list, #directions-list {
    list-style: none;
    padding-top: 1rem;

}

#direction, #ingredient {
    padding: 5px;
};
